@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.title {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-left: 40px;
  background-color: black;
  color: white;
  margin-top: 0;
}
.All {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 767px) {
  .All {
    flex-direction: column-reverse;
  }
  .poke-card {
    flex-direction: column;
    margin-right: 40px;
    min-width: 150px;
  }
}
.detail-poke {
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-right: 40px;
}
.poke-list {
  max-width: 800px;
  margin: 0 auto;
}

.poke-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 16px;
  height: 600px; /* Set a fixed height for the component */
  overflow-y: auto;
}

.poke-card {
  display: flex;
  align-items: center;
  padding: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-decoration: none;
  color: black;
  background-color: white;
}
.poke-card:hover {
  cursor: pointer;
}
.poke-image {
  width: 96px;
  height: 96px;
  margin-right: 16px;
}

.poke-details {
  flex: 1;
}

.poke-name {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 8px;
  text-transform: capitalize;
}

.poke-stat {
  margin: 0;
}

.clicked-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.poke-image-detail {
  width: 200px;
  height: 200px;
}

.poke-details-clicked {
  display: flex;
  flex-direction: column;
  align-items: center;
}
